body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0; 
    text-align: center;
}

body p {
    display: flex;
    text-align: center;
    margin-top: 50px;
    height: 100vh;
}